.player1, .player2 {
  display: flex;
  border: 1px solid;
  margin: 20px auto;
  width: 50%;
  min-height: 20px;
}

.card {
  display: inline-block;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  height: 91px;
  width: 65px;
}

.Diamonds, .Hearts {
  background-color: #FF6E6B;
}

.Clubs, .Spades {
  background-color: #111;
  color: #fff;
}

.hide {
  visibility: hidden;
}
