*{
  box-sizing: border-box;
}

body {
  background-color: #4f4f4f;
}

main {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}

/* controls */
#controls-wrapper {
  padding: 20px;
}

#resetEl {
  margin-left: 20px;
}

#dealEl {
  margin-right: 20px;
}

#scoreboard {
  position: fixed;
  right: 2rem;
  top: 2rem;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
}

.score1 {
  margin-right: 20px;
}

.score1, .score2 {
  display: inline-block;
}

#score1-counter, #score2-counter {
  width: 3.5rem;
}

#controls-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hand-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* PLAY CONTAINER */

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pots-wrapper {
  flex-basis: 80%;
}

.starter {
  flex-basis: 20%;
}


.player1, .player2, .crib, .player1-pot, .player2-pot, .starter {
  display: flex;
  border: 1px solid;
  padding: 5px;
  margin: 5px auto;
  width: 50%;
  height: 90px;
  min-height: 20px;
}

.crib {
  width: 200px;
}

.card {
  cursor: pointer;
  display: inline-block;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 70px;
  width: 51px;
  box-shadow: 0 0 5px rgba(0,0,0,0);
}

.card:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.value {
  font-size: 1.5em;
}

.Diamonds, .Hearts, .Clubs, .Spades {
  /* background-color: #FF6E6B; */
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center 35px;
}

.Clubs {
  background-image: url('suits_imgs/Clubs.png');
}

.Spades {
  background-image: url('suits_imgs/Spade.png');
}

.Diamonds {
  background-image: url('suits_imgs/Diamond.png');
}

.Hearts {
  background-image: url('suits_imgs/Heart.png');
}

.hide {
  visibility: hidden;
}
