<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/card_deck.css" type="text/css">
  <title>Deck of Cards</title>
</head>
<body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous"></script>

  



  <main>
      <!-- DEAL STARTER CONTROLS -->
  <section id="controls-wrapper">
    <button id="dealEl">Deal</button>

    <form action="" id="dest">
      <div class="radio-wrapper">
        <input type="radio" name="master-controls" value="deal" id="deal-radio" class="radio" checked>
      <label for="deal">Deal</label>
      </div>
      
      <div class="radio-wrapper">
        <input type="radio" name="master-controls" value="starter" id="starter-radio" class="radio">
        <label for="cut">Starter</label>
      </div>
      
    </form>

    <!-- CRIB POT FORM -->
    <form action="" id="cribPotForm">
      
      <div class="radio-wrapper">
        <input type="radio" name="cribPotRadio" value="crib" id="crib-radio" class="radio" checked>
      <label for="crib">Crib</label>
      </div>
      
      <div class="radio-wraper">
        <input type="radio" name="cribPotRadio" value="pot" id="pot-radio" class="radio">
      <label for="pot">Pot</label>
      </div>
      
    </form>

    <button id="resetEl">Reset</button>

      <!-- SCOREBOARD -->
    <div id="scoreboard">
      <div class="gameKey">Game Key: <span><%= gameNum %></span></div>
      <section class="score1">
        <label for="score1-counter">Player 1:</label>
        <input type="number" id="score1-counter" value="0">
      </section>
      <section class="score2">
        <label for="score2-counter">Player 2:</label>
        <input type="number" id="score2-counter" value="0">
      </section>
    </div>
  </section>
    <!-- Player 1 wrapper -->
    <section id="player1-wrapper">
      
      <!-- PLAYER 1 HAND -->
      <div class="player-controls">
        <button class="show-hand-1">Show/Hide Hand</button>
      <h3>Player 1 hand</h3>
        <button class="show-crib-1">Show/Hide Crib</button>
      </div>

      <!-- Hand wrapper -->
      <div class="hand-wrapper">
        
        <div class="player1-wrapper">
          <div class="hand1-curtain">
            <span>HIDDEN</span>
          </div>
          <div class="player1"></div>
        </div>
        
      </div>

    </section>

    <!-- The pots, starter, and counter -->
    <div class="play-container">
      <div class="pot-left">
        <div class="starter"></div>
        <div class="count-wrapper">
          <h4 class="count-title">Count:</h4>
          <div class="count">0</div>
        </div>
      </div>      

      <div class="pots-wrapper">
        <div class="player1-pot"></div>
        <div class="player2-pot"></div>
      </div>

      <div class="pot-right">
        <div class="crib1-wrapper">
          <div class="crib1-curtain">
            <span>HIDDEN</span>
          </div>
          <div class="crib1 crib"></div>
        </div>

        <div class="crib2-wrapper">
          <div class="crib2-curtain">
            <span>HIDDEN</span>
          </div>
          <div class="crib2 crib"></div>
        </div>

      </div>
      
    </div>

    
    <!-- Player 2 wrapper -->
    <section id="player2-wrapper">
      <!-- PLAYER 2 HAND -->

      <div class="player-controls">

        <!-- buttons -->
        <button class="show-hand-2">Show/Hide Hand</button>
      <h3>Player 2 hand</h3>
        <button class="show-crib-2">Show/Hide Crib</button>        
        </div>

      <!-- Hand wrapper -->
      <div class="hand-wrapper">
        
          <div class="player2-wrapper">
            <div class="hand2-curtain">
              <span>HIDDEN</span>
            </div>
            <div class="player2"></div>
          </div>
          
      </div>

    </section>
  </main>
  
  <!-- JQUERY DEPENDENCCY -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <!-- EJS VARIABLES -->
    <script>
      let gameKey = <%= gameNum %>;
    </script>

  <!-- APP JAVASCRIPT -->
  <script src='../public/cardDeck.js'></script>
</body>
</html>
